body {
  background-image: url(peng.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

#clock-container {
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

#clock {
  font-family: monospace;
  font-size: 6.5rem;
  font-weight: bold;
  width:100%;
  text-align: center;
  backdrop-filter: blur(3px);
  color: #fff;
  background-color: hsla(0, 0%, 100%, 0.1);
}